{%  extends 'base.html' %}

{% block content %}

    <div>
        <div style="text-align: center; max-width: 500px; margin: 4rem auto">
            <p>
                {{ target_user.date_joined }}
                {# 본인 정보를 보여 주어야한다.#}
                {# 가입한 날짜 #}
            </p>
            <h2 style="font-family: 'NanumSquareB'">
                {{ target_user.username }}
                {# 다른 user가 오더라도 그 사람이 보고자 하는 class객체의 target_user의 정보를 보여주게 되는 것이다. #}
            </h2>
        </div>
    </div>


{% endblock %}