<div class="text-center my-5">
        {%  if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"
            class="btn btn-second rounded-pill">
            {#  get 방식으로 page정보를 넘겨준다 #}
                {{ page_obj.previous_page_number }}
            </a>
        {% endif %}
        <a href="?page={{ page_obj.number }}"
           class="btn btn-dark rounded-pill NNS_B">
            {{ page_obj.number }}
        </a>
        {%  if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"
            class="btn btn-second rounded-pill">
            {#  get 방식으로 page정보를 넘겨준다 #}
                {{ page_obj.next_page_number }}
            </a>
        {% endif %}
</div>