.hanmun_footer_logo{
    margin-top: 1rem; font-family: 'Yeon Sung', cursive;
}
.hanmun_footer_button{
    font-size: .9rem;
}

.hanmun_header_logo{
    font-family: 'Yeon Sung', cursive;
}

.hanmun_header_button{
    font-size: .6rem;
    margin: 1rem 0;
}
@media screen and (max-width: 500px) {
    html{
        font_size: 13px;
    }
}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}
.prgmatic_header_nav{
    margin: 0 0.5rem;
}