.hanmun_footer_logo{
    margin-top: 1rem; font-family: 'Yeon Sung', cursive;
}
hanmun_footer_button{
    font-size: .6rem;
}

hanmun_header_logo{
    font-family: 'Yeon Sung', cursive;
}

hanmun_header_button{
    font-size: .6rem;
}