{%  extends 'base.html' %}

{% block content %}

    <div>
        <div style="text-align: center; max-width: 700px; margin: 4rem auto">
            <h1>
                {{ target_article.title }}
            </h1>
            <h5>
                {{ target_article.writer.profile.nickname }}
            </h5>
        <hr>
             <img  style="width:200px; border-radius:1rem; margin: 2rem 0;"
                     src="{{ target_article.image.url }}" alt="">

            <p>
                {{ target_article.content }}
            </p>

            {%  if target_article.writer == user %}
            <a href="{% url 'articleapp:update' pk=target_article.pk %}"
            class = "btn btn-primary rounded-pill col-3">
                Update
            </a>
            <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
            class = "btn btn-danger rounded-pill col-3">
                Delete
            </a>
            {% endif %}
        <hr>

        {% for comment in target_article.comment.all %}
        {# 여기서 targe_article은 현재 게시글을 의미, 그래서 현재 게시글에 있는 모든 comment를 가져오도록 합니다.#}
            {% include 'commentapp/detail.html' with comment=comment %}
            {# 댓글 하나 하나 올릴려고 한다. #}
        {% endfor %}

        {% include 'commentapp/create.html' with article=target_article %}
        {# commentapp아래에 있는 create.html을 가져오는데 create.html에 있는 article을 with를 가지고 현재 articleapp에 있는 target_article과 동기화를 시켜줍니다. #}
        {# 이렇게 하면 create.html에서 article이라는 인자를 사용할 수 있게 됩니다. #}
        </div>
    </div>


{% endblock %}